{% extends "base.html" %} {% block title %}Classes{% endblock %} {% block content
%}
    <h1 align="center">All Available Classes</h1>
    <form action="{{ url_for('auth.enrolled') }}" name="enrolled">
    <body>
        <div class="container">
          <h1>{{ title }}</h1>
          <hr>
        <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Click to Enroll</th>
      </tr>
    </thead>
    <tbody>
      {% for Lessons in query %}
        <tr>
          <td>{{ Lessons.subCode }}</td>
          <td>{{ Lessons.subName }}</td>
          <td>{{ Lessons.lesson_date }}</td>
          <td>{{ Lessons.lesson_time }}</td>
          <input id="lesson_id" name="lesson_id" type="hidden" value="{{ Lessons.id }}">
          <td><button type="submit" name="enrolled" value="{{ Lessons.id }}" formmethod="post">Enroll</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
</form>
        </div>
        </body>

    